$color-1: #ced7f2;
$color-2: #22648c;
$color-3: #224459;
$color-4: #26a3bf;
$color-5: #72dbf2;

body {
  font-family: 'Open Sans', sans-serif;
}

body > .container {
  font-size: 12pt;
  font-family: 'Lora', serif;
  line-height: 1.6em;

  h1, h2, h3, h4 {
    color: $color-4;
    margin-top: 1.3em;
  }

  h1, h2, h3, h4, .btn, .guide-toc {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
  }

}

body > .container {
  padding-top: 70px;
}

body > .jumbotron + .container {
  padding-top: 0px;
}

.navbar-default {
  background-color: $color-2;
  border: 0px;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  color: #fff;

  &:hover {
    color: #fff;
  }
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .active > a {
  &, &:hover, &:focus {
    background-color: $color-3;
    color: #fff;
  }
}

body > .jumbotron {
  background-color: $color-2;
  border-bottom: 4px solid darken($color-2, 5);
  color: #fff;

  h1 {
    font-family: Satisfy, cursive;
    text-transform: lowercase;
    margin-bottom: 0.5em;
    text-align: center;
    font-size: 800%;
  }
}
