$color-1: #ced7f2;
$color-2: #22648c;
$color-3: #224459;
$color-4: #26a3bf;
$color-5: #72dbf2;

body {
  font-family: 'Open Sans', sans-serif;
}

body > .container {
  font-size: 11pt;
  line-height: 1.6em;

  h1, h2, h3, h4 {
    color: $color-4;
    &:before {
      display: block;
      content: "";
      padding-top: 70px;
      margin-top: -70px;
    }
  }

  h1, h2, h3, h4, .btn {
    font-weight: 300;
  }

  h2 { margin-top: 1.6em; }
  h1 + h2 { margin-top: 0.6em; }

  h3 { margin-top: 2em; }
  h2 + h3 { margin-top: 1em; }

  h4 { margin-top: 2em; }
  h3 + h4 { margin-top: 1em; }

}

body > .container {
  padding-top: 70px;
  padding-bottom: 90px;
}

body > .jumbotron + .container {
  padding-top: 0px;
}

.navbar-default {
  background-color: $color-2;
  border: 0px;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  &, &:hover, &:focus {
    color: #fff;
  }
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .active > a {
  &, &:hover, &:focus {
    background-color: $color-3;
    color: #fff;
  }
}

// when nav bar toggle is shown
@media (max-width: 767px) {
  .navbar-default .navbar-toggle {
    border: 0px;
  }

  .navbar-default .navbar-toggle .icon-bar {
    background-color: lighten($color-2, 10%);
  }

  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background-color: transparent;
    .icon-bar {
      background-color: lighten($color-2, 80%);
    }
  }

  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-width: 0px;
    background-color: lighten($color-2, 3%);
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    &, &:hover, &:focus {
      color: #fff;
    }
  }

  .dropdown-menu .divider {
    background-color: $color-2;
  }
}


body.generic > .jumbotron {
  background-color: $color-5;
  border-bottom: 4px solid darken($color-5, 5%);
  padding: 3.2em 0px 0.6em 0px;
  color: #fff;

  h1 {
    font-size: 300%;
    font-weight: 300;
  }
}

body.generic > .jumbotron + .container h1 {
  display: none;
}

body.home > .jumbotron {
  background-color: $color-2;
  border-bottom: 4px solid darken($color-2, 5%);
  color: #fff;

  h1 {
    font-family: Satisfy, cursive;
    text-transform: lowercase;
    margin-bottom: 0.5em;
    text-align: center;
    font-size: 800%;
  }
}

pre {
  max-height: 340px;
  overflow-y: scroll;
}

pre code.hljs {
  overflow-wrap: normal;
  white-space: pre;
  overflow-x: visible;
  background-color: transparent;
}

.guide-toc ul {
  padding-left: 0px;
  list-style-type: none;
}

.guide-toc ul ul {
  margin-bottom: 0.8em;
  padding-left: 1.2em;
  font-size: 95%;
}

.guide-toc ul ul ul {
  margin-bottom: 0em;
  padding-left: 1.8em;
  list-style-type: circle;
}

.guide-toc ul ul ul ul {
  margin-bottom: 0em;
}
